/*
    Variaveis
*/

:root {
  --main-color: #407bff;
  --link-color: #666666;
  --text1: #999999;
  --highlight-text: #333333;
  --input-text: #555555;
  --white-color: #ffffff;
  --point-list: #cccccc;
  --line-input: #111111;
}

/*
    Fontes
*/

@font-face {
  font-family: Poppins-Regular;
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins-Bold;
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  font-family: Poppins-Regular, sans-serif;
}

ul,
li {
  margin: 0;
  list-style-type: none;
}

input,
button {
  outline: none !important;
  border: none;
}

button:hover {
  cursor: pointer;
}

.text1 {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: var(--text1);
  line-height: 1.5;
}

.text2 {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: var(--main-color);
  line-height: 1.5;
}

.margin-bottom-35 {
  margin-bottom: 35px;
}

.margin-top-35 {
  margin-top: 35px;
}

.margin-bottom-8 {
  margin-bottom: 8px;
}

.margin-top-8 {
  margin-top: 8px;
}

.margin-left-50 {
  margin-left: 50px;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.container-login {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: var(--white-color);
}

.wrapper-login {
  width: 370px;
  margin-right: 50px;
  background-color: var(--white-color);
}

/*Formulario*/

.login-form {
  width: 100%;
}

.login-form-title {
  display: block;
  font-family: Poppins-Bold;
  font-size: 39px;
  color: var(--highlight-text);
  line-height: 1.2;
  text-align: center;
}

/*Input*/

.wrapper-input {
  width: 100%;
  position: relative;
  border-bottom: 2px solid var(--line-input);
}
